Xiaowen.Web.Mvc/Service References/SqlDetachService/SqlDetach.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SqlDetach" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:10564/SqlDetach.svc?xsd=xsd3" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:10564/SqlDetach.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:10564/SqlDetach.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Xiaowen.Personal.SqlDetach.Dbo" />
      <xsd:import schemaLocation="http://localhost:10564/SqlDetach.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Xiaowen.Personal.SqlDetach" />
      <xsd:import schemaLocation="http://localhost:10564/SqlDetach.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Xiaowen.Service.SqlDetachApi" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISqlDetach_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="ISqlDetach_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="ISqlDetach_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="ISqlDetach_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="ISqlDetach_QueryAuthor_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryAuthor" />
  </wsdl:message>
  <wsdl:message name="ISqlDetach_QueryAuthor_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="ISqlDetachBase_GetSqlDetachBase_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSqlDetachBase" />
  </wsdl:message>
  <wsdl:message name="ISqlDetachBase_GetSqlDetachBase_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSqlDetachBaseResponse" />
  </wsdl:message>
  <wsdl:portType name="ISqlDetach">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/ISqlDetach/GetData" message="tns:ISqlDetach_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISqlDetach/GetDataResponse" message="tns:ISqlDetach_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/ISqlDetach/GetDataUsingDataContract" message="tns:ISqlDetach_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISqlDetach/GetDataUsingDataContractResponse" message="tns:ISqlDetach_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryAuthor">
      <wsdl:input wsaw:Action="http://tempuri.org/ISqlDetach/QueryAuthor" message="tns:ISqlDetach_QueryAuthor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISqlDetach/QueryAuthorResponse" message="tns:ISqlDetach_QueryAuthor_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ISqlDetachBase">
    <wsdl:operation name="GetSqlDetachBase">
      <wsdl:input wsaw:Action="http://tempuri.org/ISqlDetachBase/GetSqlDetachBase" message="tns:ISqlDetachBase_GetSqlDetachBase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISqlDetachBase/GetSqlDetachBaseResponse" message="tns:ISqlDetachBase_GetSqlDetachBase_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISqlDetach" type="tns:ISqlDetach">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/ISqlDetach/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/ISqlDetach/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryAuthor">
      <soap:operation soapAction="http://tempuri.org/ISqlDetach/QueryAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_ISqlDetachBase" type="tns:ISqlDetachBase">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSqlDetachBase">
      <soap:operation soapAction="http://tempuri.org/ISqlDetachBase/GetSqlDetachBase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SqlDetach">
    <wsdl:port name="BasicHttpBinding_ISqlDetach" binding="tns:BasicHttpBinding_ISqlDetach">
      <soap:address location="http://localhost:10564/SqlDetach.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_ISqlDetachBase" binding="tns:BasicHttpBinding_ISqlDetachBase">
      <soap:address location="http://localhost:10564/SqlDetach.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>